@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* --------------------------- Inicio Section Home -------------------------- */
/* ---------------------------------- body ---------------------------------- */
.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 100%;
    min-height: 100%;
}

.wrapper,
.portfolio {
    width: 100vw;
    height: 100vh;
    background-color: #bfaef5;
    color: #fff;
}

/* ---------------------------------- body ---------------------------------- */
/* --------------------------------- navbar --------------------------------- */
.navbar {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-weight: bold;
}

/* --------------------------------- navbar --------------------------------- */
/* ---------------------------------- menu ---------------------------------- */
.brand {
    font-size: 25px;
    margin-top: -7px;
}


.brand span {
    color: yellow;
}

.menu {
    display: flex;
    width: 50%;
    font-size: 30px;
    justify-content: space-around;
    max-width: 100%;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: yellow;
}

.menu a:hover {
    background-color: yellow;
    transition: ease-in .4s;
    color: #bfaef5;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* ---------------------------------- menu ---------------------------------- */
/* --------------------------------- titulo --------------------------------- */
h1 {
    font-size: 3em;
}

span {
    color: yellow;
}



/* --------------------------------- titulo --------------------------------- */
/* ---------------------------- boton de descarga --------------------------- */
.download-cv {
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px #bfaef5;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.download-cv:hover {
    background-color: white;
    box-shadow: none;
}

/* ---------------------------- boton de descarga --------------------------- */
/* ----------------------------------- img ---------------------------------- */
.main img {
    width: 50%;
    margin-left: 4rem;
}

/* ----------------------------------- img ---------------------------------- */
/* ------------------------------- info breve ------------------------------- */
.info-content {
    padding-right: 30px;
}

/* ------------------------------- info breve ------------------------------- */
/* ---------------------------- Fin Section Home ---------------------------- */
/* -------------------------- Inicio Section About -------------------------- */
/* --------------------------------- Titulo --------------------------------- */
.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

/* --------------------------------- Titulo --------------------------------- */
/* ----------------------------------- img ---------------------------------- */
.about-img {
    max-width: 100%;
    grid-column: 1/5;
}

/* ----------------------------------- img ---------------------------------- */
/* ------------------------------ info sobre mi ----------------------------- */
.about-info {
    grid-column: 5/10;
    padding: 2rem;
}

.about-info h2 {
    font-size: 4rem;
    color: #bfaef5;
}

.about p {
    margin-bottom: 1rem;
    color: black;
}

/* ------------------------------ info sobre mi ----------------------------- */
/* -------------------------------- subrayado ------------------------------- */
.divider {
    height: 4px;
    width: 60px;
    background-color: yellow;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------------------------------- subrayado ------------------------------- */
/* ---------------------------- Fin Section About --------------------------- */
/* ---------------------------- Inicio Portfolio ---------------------------- */
.portfolio-headings {
    padding: 5rem;
}

.portfolio-headings h2 {
    font-size: 4rem;
}

/* --------------------------------- heading -------------------------------- */

.portfolio .container {
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------- Body portfolio ----------------------------- */
/* -------------------------------- proyectos ------------------------------- */
.card {
    width: 100%;
    min-height: 40%;
    background-color: rgb(157, 139, 218);
    color: yellow;
    margin: 5rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: -5px -5px 5px -5px rgba(0, 0, 0, 0.5), 5px 5px 5px -5px rgba(0, 0, 0, 0.5), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
    transform: translateY(-10%);
}

/* -------------------------------- proyectos ------------------------------- */
/* ----------------------------------- img ---------------------------------- */
.card-img {
    min-width: 50%;
    height: 150px;
    background-image: url(../multimedia/images/page-img.png);
    background-size: cover;
}

.card-mundogatuno {
    min-width: 50%;
    height: 150px;
    background-image: url(../multimedia/images/gato-caja.png);
}

.card-lowkey {
    min-width: 50%;
    height: 150px;
    background-image: url(../multimedia/images/lowkey-card.jpg);
}

/* ----------------------------------- img ---------------------------------- */
/* ------------------------------ titulo cards ------------------------------ */
.card-tittle {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* ------------------------------ titulo cards ------------------------------ */
/* ------------------------------- links cards ------------------------------ */
.card-projects-links {
    display: flex;
    justify-content: space-evenly;
}


.card-projects-links a {
    color: #bfaef5;
    text-decoration: none;
}

.card-projects-links i {
    font-size: 1.5rem;
    color: yellow;
}

/* ------------------------------- links cards ------------------------------ */
/* ---------------------------- proyecto detalles --------------------------- */
.project-details {
    color: yellow;
}

.card .project-details {
    width: 70%;
    margin: 1rem;
}

.card .project-details a {
    text-decoration: none;
    color: #bfaef5;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

/* ---------------------------- proyecto detalles --------------------------- */
/* -------------------------- Fin Section Portfolio ------------------------- */
/* ------------------------- Inicio Section Contact ------------------------- */
/* ------------------------------ Body Contact ------------------------------ */
.contact-section {
    padding: 4rem;
    background-color: #fff;
    margin: 0%;
}

/* --------------------------------- Heading -------------------------------- */
.contact-headings h2 {
    font-size: 4em;
    color: #bfaef5;
}

/* --------------------------------- Heading -------------------------------- */
/* -------------------------------- Container ------------------------------- */
.container-contact {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ---------------------------- Caja de contacto ---------------------------- */
.container-contact img {
    width: 30%;
    bottom: 0%;
}

@media only screen and (max-width: 600px) {
    .container-contact img {
        display: none;
        visibility: hidden;
    }

    .container-contact {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }
}

/* ---------------------------- Caja de contacto ---------------------------- */


.contact-form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 8rem
}

/* ---------------------------- Caja de contacto ---------------------------- */

.form {
    display: flex;
    flex-direction: column;

}

/* ---------------------------- Caja de contacto ---------------------------- */
/* --------------------------------- titulo --------------------------------- */
.touch {
    color: #bfaef5;
}

/* --------------------------------- titulo --------------------------------- */
/* ---------------------------- Caja de contacto ---------------------------- */


.form input {
    padding: 20px 30px;
    margin-bottom: 1em;
    background-color: #bfaef5;
    border: none;
    border-bottom: 2px solid #bfaef5;
    color: #fff;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* ---------------------------- Caja de contacto ---------------------------- */


.form textarea {
    height: 150px;
    color: #fff;
    padding: 1.5em;
    border: 2px solid #bfaef5;
    background-color: #bfaef5;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* ---------------------------- Caja de contacto ---------------------------- */

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #bfaef5;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px #bfaef5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* ---------------------------- Caja de contacto ---------------------------- */


.btn-submit:hover {
    background-color: yellow;
    box-shadow: none;
}

/* -------------------------------- Container ------------------------------- */
/* ------------------------------ Body Contact ------------------------------ */
/* --------------------------- Fin Section Contact -------------------------- */
/* ------------------------------ Inicio Footer ----------------------------- */
/* ---------------------------------- body ---------------------------------- */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #bfaef5;
}

/* ---------------------------------- body ---------------------------------- */
/* -------------------------------- contenido ------------------------------- */
.footer-content h2 {
    font-size: 2.5em;
    color: #6c44ee;
    display: flex;
    justify-content: center;

}


.footer-content h5 {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    color: #6c44ee;
}

/* -------------------------------- contenido ------------------------------- */
/* ---------------------------------- redes --------------------------------- */
.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 1em;
}

/* --------------------------------- iconos --------------------------------- */
.social-network i {
    font-size: 2em;
    color: #6c44ee;
    cursor: pointer;
}

/* --------------------------------- iconos --------------------------------- */
/* ---------------------------------- redes --------------------------------- */
/* --------------------------- Fin Section Footer --------------------------- */
/* -------------------------- Inicio Medias Queries ------------------------- */

@media (min-width: 319px) and (max-width: 425px) {


    .imghome,
    .imgabout {
        display: none;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        align-items: flex-start;
    }

    .about-tittle {
        font-size: 3em;
        padding-right: 0.5em;
    }



    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: 100%;
        min-height: 100%;
    }
}